@import url('./palette.css');
@import url('./scrollbar.css');
@import url('./button.css');
@import url('./link.css');
@import url('./accordion.css');
@import url('./loading.css');
@import url('./tabs.css');
@import url('./table.css');

body{
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, button, li{
  font-weight: normal;
  animation: fadeIn 1s; 
}

.card{
  padding: 5px;
  animation: fadeIn 2s; 
  background-color: rgba(255, 255, 255, 1) !important;
}

.title{
  font-size: 2em;
  font-family: 'Playfair Display', serif;
}

.subtitle{
  font-family: 'Playfair Display', serif;
}

.highlight{
  color: var(--shade4);
}

.large-icon{
  color: rgba(255, 255, 255, .7);
  font-size: xx-large;
  margin: 10px !important;
  animation: fadeIn 1s; 
  cursor: pointer;
}

.small-icon{
  width: 15px;
}

.large-icon:hover{
  color: rgba(255, 255, 255, 1);
  transition: .2s;
}

.splash{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 100vh;
  background: linear-gradient(-125deg, var(--shade1), var(--shade2));
  color: var(--white);
}

.projects{
  padding: 10px;
  height: 100%;
  background: linear-gradient(-125deg, var(--shade1), var(--shade2));
  color: var(--white);
}

.cv{
  display: block;
  padding: 10px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(-125deg, var(--shade1), var(--shade2));
  color: var(--white);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.image-thumb{
  width: 100%;
}


