:root{
    --shade1: #6A2C70;
    --shade2: #B83B5E;
    --shade3: #F08A5D;
    --shade4: #F9ED69;
    --white: #fff;
    --black: #000;

    --wallethoa1: rgb(18, 41, 23);
    --wallethoa2: rgb(67, 98, 75);
    --wallethoa3: rgb(250, 221, 0);
}